In [28]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Applications/anaconda3/envs/tf/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Applications/anaconda3/envs/tf/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [29]:
import pandas as pd
import numpy as np

In [30]:
budget = pd.read_excel("../GEN AI Data_v1.xlsx", sheet_name='Budget')
actual = pd.read_excel("../GEN AI Data_v1.xlsx", sheet_name='Actual')

In [31]:
budget.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(000's Tons),($ 000's ),($ 000's ),...,($ 000's ),NaN,NaN,($ 000's ),($ 000's ),($ 000's ),($ 000's ),($ 000's ),NaN,NaN
1,NaN,Actual/Budget,Month,Year,Region,Category,Product,Volume,Gross Sales,Gross to Net (Deductions),...,Other Direct Expenses,Total Direct Expenses,Gross profit,Selling Exp,Depreciation,G&A,R&D,Overheads,Indirect Exp,Net profit
2,NaN,Budget,Jan,2023,APAC,Choclates,Nut Bar,594,5516.0325,1765.1304,...,210.050518,2648.136883,1102.765217,132.331826,99.24887,132.331826,143.359478,138.397035,645.669035,457.096183
3,NaN,Budget,Feb,2023,APAC,Choclates,Nut Bar,729,6769.67625,2338.923144,...,198.497739,3388.639975,1042.11313,125.053576,93.790182,125.053576,135.474707,130.785198,610.157238,431.955893
4,NaN,Budget,Mar,2023,APAC,Choclates,Nut Bar,714,6630.3825,2290.797154,...,256.903452,2990.842221,1348.743126,161.849175,121.386881,161.849175,175.336606,169.267262,789.6891,559.054026

In [32]:
budget.columns = budget.iloc[1]
budget.head()

1,NaN,Actual/Budget,Month,Year,Region,Category,Product,Volume,Gross Sales,Gross to Net (Deductions),...,Other Direct Expenses,Total Direct Expenses,Gross profit,Selling Exp,Depreciation,G&A,R&D,Overheads,Indirect Exp,Net profit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(000's Tons),($ 000's ),($ 000's ),...,($ 000's ),NaN,NaN,($ 000's ),($ 000's ),($ 000's ),($ 000's ),($ 000's ),NaN,NaN
1,NaN,Actual/Budget,Month,Year,Region,Category,Product,Volume,Gross Sales,Gross to Net (Deductions),...,Other Direct Expenses,Total Direct Expenses,Gross profit,Selling Exp,Depreciation,G&A,R&D,Overheads,Indirect Exp,Net profit
2,NaN,Budget,Jan,2023,APAC,Choclates,Nut Bar,594,5516.0325,1765.1304,...,210.050518,2648.136883,1102.765217,132.331826,99.24887,132.331826,143.359478,138.397035,645.669035,457.096183
3,NaN,Budget,Feb,2023,APAC,Choclates,Nut Bar,729,6769.67625,2338.923144,...,198.497739,3388.639975,1042.11313,125.053576,93.790182,125.053576,135.474707,130.785198,610.157238,431.955893
4,NaN,Budget,Mar,2023,APAC,Choclates,Nut Bar,714,6630.3825,2290.797154,...,256.903452,2990.842221,1348.743126,161.849175,121.386881,161.849175,175.336606,169.267262,789.6891,559.054026

In [33]:
budget.drop([0, 1], inplace=True)
budget.head()

1,NaN,Actual/Budget,Month,Year,Region,Category,Product,Volume,Gross Sales,Gross to Net (Deductions),...,Other Direct Expenses,Total Direct Expenses,Gross profit,Selling Exp,Depreciation,G&A,R&D,Overheads,Indirect Exp,Net profit
2,NaN,Budget,Jan,2023,APAC,Choclates,Nut Bar,594,5516.0325,1765.1304,...,210.050518,2648.136883,1102.765217,132.331826,99.24887,132.331826,143.359478,138.397035,645.669035,457.096183
3,NaN,Budget,Feb,2023,APAC,Choclates,Nut Bar,729,6769.67625,2338.923144,...,198.497739,3388.639975,1042.11313,125.053576,93.790182,125.053576,135.474707,130.785198,610.157238,431.955893
4,NaN,Budget,Mar,2023,APAC,Choclates,Nut Bar,714,6630.3825,2290.797154,...,256.903452,2990.842221,1348.743126,161.849175,121.386881,161.849175,175.336606,169.267262,789.6891,559.054026
5,NaN,Budget,Apr,2023,APAC,Choclates,Nut Bar,786,7298.9925,2335.6776,...,246.180419,3670.8677,1292.4472,155.093664,116.320248,155.093664,168.018136,162.202124,756.727836,535.719364
6,NaN,Budget,May,2023,APAC,Choclates,Nut Bar,462,4290.2475,1445.813407,...,127.430647,2175.423194,669.010899,80.281308,60.210981,80.281308,86.971417,83.960868,391.705881,277.305017

In [34]:
actual.columns = actual.iloc[1]
actual.drop([0, 1], inplace=True)
actual.head()

1,NaN,Actual/Budget,Month,Year,Region,Category,Product,Volume,Gross Sales,Gross to Net (Deductions),...,Other Direct Expenses,Total Direct Expenses,Gross profit,Selling Exp,Depreciation,G&A,R&D,Overheads,Indirect Exp,Net profit
2,NaN,Actual,Jan,2023,APAC,Choclates,Nut Bar,594,5346,1923.301834,...,215.287715,2371.587559,1051.110607,177.210198,184.298605,155.944974,99.237711,92.149303,708.84079,342.269817
3,NaN,Actual,Feb,2023,APAC,Choclates,Nut Bar,729,6561,2187.789142,...,242.713203,2997.836043,1375.374815,206.37182,272.035581,225.132895,121.946985,112.566447,938.053729,437.321086
4,NaN,Actual,Mar,2023,APAC,Choclates,Nut Bar,714,6426,1978.339419,...,257.074782,3192.530765,1255.129816,155.694806,135.386788,135.386788,88.001412,162.464146,676.93394,578.195876
5,NaN,Actual,Apr,2023,APAC,Choclates,Nut Bar,786,7074,2331.844573,...,270.302859,3210.439224,1531.716203,182.241033,242.988044,208.275466,112.815878,121.494022,867.814443,663.90176
6,NaN,Actual,May,2023,APAC,Choclates,Nut Bar,462,4158,1433.263813,...,170.023538,1832.112612,892.623575,136.43299,179.843487,136.43299,62.014996,105.425493,620.149956,272.473619

In [35]:
yr_2023_actual = actual[(actual['Year'] == 2023) & (actual['Month'] == 'Sep')]
yr_2022_actual = actual[(actual['Year'] == 2022) & (actual['Month'] == 'Sep')]
yr_2023_budget = budget[(budget['Year'] == 2023) & (budget['Month'] == 'Sep')]

In [36]:
yr_2023_actual.head()

1,NaN,Actual/Budget,Month,Year,Region,Category,Product,Volume,Gross Sales,Gross to Net (Deductions),...,Other Direct Expenses,Total Direct Expenses,Gross profit,Selling Exp,Depreciation,G&A,R&D,Overheads,Indirect Exp,Net profit
10,NaN,Actual,Sep,2023,APAC,Choclates,Nut Bar,522,4698,1442.471049,...,180.681857,2231.665096,1023.863855,107.106902,155.305009,107.106902,80.330177,85.685522,535.534512,488.329343
22,NaN,Actual,Sep,2023,APAC,Choclates,Truffle,762,5257.8,1517.902214,...,190.734787,2659.067326,1080.83046,194.138094,147.277175,133.888341,100.416256,93.721839,669.441704,411.388756
34,NaN,Actual,Sep,2023,APAC,Choclates,Bliss,613,4897.017194,1937.396663,...,170.474143,2183.016104,776.604427,94.186964,72.451511,90.564388,36.225755,68.828935,362.257553,414.346874
46,NaN,Actual,Sep,2023,APAC,Snacks,Munch Mix,267,1197.495,458.216856,...,46.130956,497.090624,242.18752,32.214784,28.497694,24.780603,17.346422,21.063513,123.903017,118.284503
58,NaN,Actual,Sep,2023,APAC,Snacks,Seaside Bites,328,1850.166,715.39752,...,62.979651,777.883793,356.884687,56.000824,48.534048,41.067271,26.133718,14.933553,186.669415,170.215272

In [37]:
len(yr_2023_actual)

36

In [38]:
yr_2022_actual

1,NaN,Actual/Budget,Month,Year,Region,Category,Product,Volume,Gross Sales,Gross to Net (Deductions),...,Other Direct Expenses,Total Direct Expenses,Gross profit,Selling Exp,Depreciation,G&A,R&D,Overheads,Indirect Exp,Net profit
118,NaN,Actual,Sep,2022,APAC,Choclates,Nut Bar,827,7194.9,2502.70875,...,255.255204,3352.101429,1340.089821,214.226684,214.226684,189.50822,107.113342,98.873854,823.948783,516.141038
130,NaN,Actual,Sep,2022,APAC,Choclates,Truffle,752,4700,1697.65175,...,168.431737,2180.005064,822.343186,86.407583,112.329857,86.407583,56.164929,90.727962,432.037913,390.305272
142,NaN,Actual,Sep,2022,APAC,Choclates,Bliss,518,3668.5278,1365.0336,...,129.226025,1672.567139,630.927061,79.912821,59.934616,68.496704,37.102381,39.95641,285.402931,345.52413
154,NaN,Actual,Sep,2022,APAC,Snacks,Munch Mix,330,1233.375,414.90735,...,47.880358,547.145624,271.322026,46.177945,37.931883,41.230308,19.790548,19.790548,164.921231,106.400795
166,NaN,Actual,Sep,2022,APAC,Snacks,Seaside Bites,299,1466.595,606.1926,...,49.559178,634.63281,225.76959,29.343163,33.535044,33.535044,13.972935,29.343163,139.72935,86.04024
178,NaN,Actual,Sep,2022,APAC,Snacks,Cheddar poppers,243,986.428125,396.544106,...,34.095296,423.418749,166.46527,20.64948,26.934104,19.751676,13.467052,8.978035,89.780348,76.684922
190,NaN,Actual,Sep,2022,APAC,Juice,Tango,156,737.1,254.319975,...,28.242631,322.738447,160.041578,17.524915,24.534881,20.153652,8.762457,16.648669,87.624575,72.417004
202,NaN,Actual,Sep,2022,APAC,Juice,Lime Zest,301,1859.690875,801.284199,...,54.190422,773.906962,284.499715,28.788662,25.334022,26.485569,16.12165,18.424743,115.154646,169.345068
214,NaN,Actual,Sep,2022,APAC,Juice,Citrus Splash,221,1632.8585,630.837387,...,59.620256,710.93398,291.087133,46.639073,33.773122,36.989609,17.690683,25.731902,160.824389,130.262745
442,NaN,Actual,Sep,2022,EMEA,Choclates,Nut Bar,582,4328.625,1964.569513,...,152.717984,1618.432387,745.623101,106.245382,120.103475,97.006653,64.671102,73.909831,461.936442,283.686658
454,NaN,Actual,Sep,2022,EMEA,Choclates,Truffle,768,3631.2,1310.57573,...,126.24196,1704.266464,616.357806,80.47925,72.431325,53.652833,40.239625,21.461133,268.264166,348.093641
466,NaN,Actual,Sep,2022,EMEA,Choclates,Bliss,661,3810.3345,1147.822628,...,153.360684,1963.868756,698.643115,113.742507,90.994006,94.785423,56.871254,22.748501,379.141691,319.501425
478,NaN,Actual,Sep,2022,EMEA,Snacks,Munch Mix,407,1404.15,372.9726,...,64.964176,735.229486,295.947914,42.443262,37.895769,30.316616,16.674139,24.253292,151.583078,144.364836
490,NaN,Actual,Sep,2022,EMEA,Snacks,Seaside Bites,469,3045.78918,715.737078,...,163.569658,1584.90144,745.150662,107.075214,135.007879,102.41977,55.865329,65.176217,465.54441,279.606252
502,NaN,Actual,Sep,2022,EMEA,Snacks,Cheddar poppers,403,2072.175625,459.80703,...,101.417985,1117.210199,495.158396,68.391839,63.325777,58.259714,30.396373,32.929404,253.303106,241.855289
514,NaN,Actual,Sep,2022,EMEA,Juice,Tango,186,1367.1,385.2576,...,58.321439,716.155847,265.686553,38.525532,48.575671,41.875578,25.125347,13.400185,167.502313,98.18424
526,NaN,Actual,Sep,2022,EMEA,Juice,Lime Zest,162,1087.93125,695.160535,...,27.572504,267.162641,125.608075,17.655044,14.124035,16.24264,9.886824,12.711631,70.620175,54.9879
538,NaN,Actual,Sep,2022,EMEA,Juice,Citrus Splash,260,1989.6175,623.367059,...,78.969275,980.694567,385.555874,59.833572,57.617514,50.969339,28.808757,24.37664,221.605822,163.950053
766,NaN,Actual,Sep,2022,US,Choclates,Nut Bar,569,5259.69375,2632.029324,...,151.879004,1886.137525,741.526901,95.021601,135.745144,95.021601,54.298058,72.39741,452.483814,289.043087
778,NaN,Actual,Sep,2022,US,Choclates,Truffle,584,4028.14,1867.809892,...,114.06543,1561.486602,598.843506,79.465583,104.750086,72.241439,39.732791,65.017295,361.207194,237.636312
790,NaN,Actual,Sep,2022,US,Choclates,Bliss,470,2115.846,820.840205,...,76.664343,892.517994,402.487801,64.144227,55.296747,53.084878,30.966179,17.694959,221.18699,181.300811
802,NaN,Actual,Sep,2022,US,Snacks,Munch Mix,226,2547.02,1309.1232,...,67.341586,884.353474,353.543326,57.785023,50.080353,40.449516,21.187842,23.114009,192.616742,160.926584
814,NaN,Actual,Sep,2022,US,Snacks,Seaside Bites,284,2012.14,762.841241,...,71.210029,845.77526,403.523499,64.076533,58.504661,61.290597,36.217171,58.504661,278.593623,124.929876
826,NaN,Actual,Sep,2022,US,Snacks,Cheddar poppers,440,2357.685,437.500602,...,110.602621,1339.520636,580.663762,76.561592,65.624222,62.889879,32.812111,35.546454,273.434258,307.229504
838,NaN,Actual,Sep,2022,US,Juice,Tango,285,1870.3125,343.98,...,93.411549,1100.790999,425.541501,66.987681,54.105434,59.258333,30.917391,46.376087,257.644926,167.896575
850,NaN,Actual,Sep,2022,US,Juice,Lime Zest,235,1489.79425,641.156729,...,56.264668,573.933556,274.703966,45.33846,38.084306,38.084306,19.948922,39.897844,181.353838,93.350127
862,NaN,Actual,Sep,2022,US,Juice,Citrus Splash,227,1689.169425,592.192291,...,54.300368,789.275048,307.702086,43.560962,51.481137,49.501093,25.740568,27.720612,198.004373,109.697713
1090,NaN,Actual,Sep,2022,LATAM,Choclates,Nut Bar,676,4884.1,2110.39649,...,149.77999,1924.950236,848.753274,114.165636,141.347931,125.038554,76.110424,86.983342,543.645888,305.107386
1102,NaN,Actual,Sep,2022,LATAM,Choclates,Truffle,495,2478.09375,1236.70395,...,78.083418,860.158992,381.230808,47.478194,51.130363,38.347772,18.260844,27.391266,182.60844,198.622368
1114,NaN,Actual,Sep,2022,LATAM,Choclates,Bliss,501,3163.0635,1102.122441,...,118.710205,1437.712483,623.228576,75.18313,101.497225,78.942286,41.350721,78.942286,375.915649,247.312927
1126,NaN,Actual,Sep,2022,LATAM,Snacks,Munch Mix,515,3553.5,802.8702,...,149.634261,2020.062525,730.567275,82.914985,89.824567,79.460194,48.367074,44.912283,345.479103,385.088172
1138,NaN,Actual,Sep,2022,LATAM,Snacks,Seaside Bites,324,2472.12,768.82169,...,119.571541,1158.58351,544.7148,96.985806,90.520085,77.588645,48.492903,9.698581,323.286019,221.42878
1150,NaN,Actual,Sep,2022,LATAM,Snacks,Cheddar poppers,397,2256.200625,486.94038,...,87.578382,1272.982747,496.277499,56.793254,79.510555,68.151905,36.915615,42.59494,283.966269,212.311229
1162,NaN,Actual,Sep,2022,LATAM,Juice,Tango,220,981.75,257.01858,...,38.0484,509.123823,215.607597,35.203829,29.134203,30.348128,13.353176,13.353176,121.392513,94.215085
1174,NaN,Actual,Sep,2022,LATAM,Juice,Lime Zest,277,1711.409875,658.33057,...,64.027222,716.936391,336.142914,64.633795,46.166997,46.166997,23.083498,50.783696,230.834984,105.307931
1186,NaN,Actual,Sep,2022,LATAM,Juice,Citrus Splash,345,3277.3275,759.139243,...,149.076745,1735.535347,782.65291,129.726986,115.312877,100.898767,62.461142,72.070548,480.470319,302.182591

In [39]:
sep_2023_actual = pd.DataFrame(yr_2023_actual.groupby('Product').agg({'Net profit': 'sum', 'Gross Sales': 'sum', 'Net revenue': 'sum', 'Volume': 'sum'}))

In [40]:
sep_2022_actual = pd.DataFrame(yr_2022_actual.groupby('Product').agg({'Net profit': 'sum', 'Gross Sales': 'sum', 'Net revenue': 'sum', 'Volume': 'sum'}))

In [41]:
sep_2023_budget = pd.DataFrame(yr_2023_budget.groupby('Product').agg({'Net profit': 'sum', 'Gross Sales': 'sum', 'Net revenue': 'sum'}))

In [42]:
sep_2023_budget['Volume'] = 'N/A'

In [43]:
sep_2023_budget

1                 Net profit   Gross Sales   Net revenue Volume
Product
Bliss             1094.19478  14159.592353   9393.940492    N/A
Cheddar poppers    637.48749   5127.206589    3634.98825    N/A
Citrus Splash     779.321647  10583.731818   6898.351137    N/A
Lime Zest         572.580216   7745.134879   5180.733568    N/A
Munch Mix         592.159358     7413.4152   4935.827522    N/A
Nut Bar           1387.99806  17378.009663  11334.352357    N/A
Seaside Bites     644.894397    9842.88312   6518.282831    N/A
Tango             488.431353   7076.677608   4693.861592    N/A
Truffle          1351.121414  18842.383575  12340.716632    N/A

In [44]:
### write a function that takes in the actual and budget dataframes and returns the percentage change in net profit, gross sales, net revenue and volume
def percentage_change_budget(actual, budget):
    actual = actual.groupby('Product').agg({'Net profit': 'sum', 'Gross Sales': 'sum', 'Net revenue': 'sum', 'Volume': 'sum'})
    budget = budget.groupby('Product').agg({'Net profit': 'sum', 'Gross Sales': 'sum', 'Net revenue': 'sum', 'Volume': 'sum'})
    actual['Net profit'] = actual['Net profit'].astype(float)
    actual['Gross Sales'] = actual['Gross Sales'].astype(float)
    actual['Net revenue'] = actual['Net revenue'].astype(float)
    actual['Volume'] = actual['Volume'].astype(float)
    budget['Net profit'] = budget['Net profit'].astype(float)
    budget['Gross Sales'] = budget['Gross Sales'].astype(float)
    budget['Net revenue'] = budget['Net revenue'].astype(float)
    #budget['Volume'] = budget['Volume'].astype(float)
    percentage_change = pd.DataFrame()
    percentage_change['Net profit'] = ((actual['Net profit'] - budget['Net profit']) / budget['Net profit']) * 100
    percentage_change['Gross Sales'] = ((actual['Gross Sales'] - budget['Gross Sales']) / budget['Gross Sales']) * 100
    percentage_change['Net revenue'] = ((actual['Net revenue'] - budget['Net revenue']) / budget['Net revenue']) * 100
    #percentage_change['Volume'] = ((actual['Volume'] - budget['Volume']) / budget['Volume']) * 100
    return percentage_change

In [45]:
percentage_change_budget(sep_2023_actual, sep_2023_budget)

                 Net profit  Gross Sales  Net revenue
Product
Bliss             68.430992    32.614182    36.718990
Cheddar poppers    6.506787    37.299512    44.663079
Citrus Splash     -6.041284   -15.305197   -28.264373
Lime Zest        -24.362848   -15.232829   -34.077133
Munch Mix         86.941222    53.553399    72.773048
Nut Bar           45.441875    27.080523    41.508962
Seaside Bites     17.073027     2.619022     0.768993
Tango             15.665276    -1.327839    -6.072008
Truffle            6.867617     0.908978     1.232100

In [46]:
### write a function that takes in the actual and budget dataframes and returns the percentage change in net profit, gross sales, net revenue and volume
def percentage_change(actual, budget):
    actual = actual.groupby('Product').agg({'Net profit': 'sum', 'Gross Sales': 'sum', 'Net revenue': 'sum', 'Volume': 'sum'})
    budget = budget.groupby('Product').agg({'Net profit': 'sum', 'Gross Sales': 'sum', 'Net revenue': 'sum', 'Volume': 'sum'})
    actual['Net profit'] = actual['Net profit'].astype(float)
    actual['Gross Sales'] = actual['Gross Sales'].astype(float)
    actual['Net revenue'] = actual['Net revenue'].astype(float)
    actual['Volume'] = actual['Volume'].astype(float)
    budget['Net profit'] = budget['Net profit'].astype(float)
    budget['Gross Sales'] = budget['Gross Sales'].astype(float)
    budget['Net revenue'] = budget['Net revenue'].astype(float)
    budget['Volume'] = budget['Volume'].astype(float)
    percentage_change = pd.DataFrame()
    percentage_change['Net profit'] = ((actual['Net profit'] - budget['Net profit']) / budget['Net profit']) * 100
    percentage_change['Gross Sales'] = ((actual['Gross Sales'] - budget['Gross Sales']) / budget['Gross Sales']) * 100
    percentage_change['Net revenue'] = ((actual['Net revenue'] - budget['Net revenue']) / budget['Net revenue']) * 100
    percentage_change['Volume'] = ((actual['Volume'] - budget['Volume']) / budget['Volume']) * 100
    return percentage_change

In [47]:
percentage_change(sep_2023_actual, sep_2022_actual)

                 Net profit  Gross Sales  Net revenue     Volume
Product
Bliss             68.516542    47.185792    54.330368  30.232558
Cheddar poppers  -18.985457    -8.248428   -10.747520 -19.757249
Citrus Splash      3.703125     4.364874   -17.295436  -1.804368
Lime Zest          2.385947     6.773739     1.860895  -2.358974
Munch Mix         38.932880    30.275720    46.069355  -4.127199
Nut Bar           44.817936     1.923389    28.749562  -5.162020
Seaside Bites      6.038192    12.271534     6.924188  -1.598837
Tango             30.558961    40.886620    18.655062  20.188902
Truffle           22.921886    28.146531    43.188619  11.427472

## Plotting

In [48]:
import altair as alt

In [49]:
plot_budget = sep_2023_budget.reset_index().drop(columns='Volume')
plot_actual = sep_2023_actual.reset_index().drop(columns='Volume')
df_combined = pd.concat([plot_budget.set_index('Product').stack(), plot_actual.set_index('Product').stack()], axis=1, keys=['Budget', 'Actual'])


df_combined.index.names = ['Product', 'level_1']
df_combined = df_combined.reset_index()
df_combined

            Product      level_1        Budget        Actual
0             Bliss   Net profit    1094.19478   1842.963122
1             Bliss  Gross Sales  14159.592353  18777.627511
2             Bliss  Net revenue   9393.940492  12843.300599
3   Cheddar poppers   Net profit     637.48749    678.967445
4   Cheddar poppers  Gross Sales   5127.206589   7039.629619
5   Cheddar poppers  Net revenue    3634.98825   5258.485939
6     Citrus Splash   Net profit    779.321647    732.240612
7     Citrus Splash  Gross Sales  10583.731818   8963.870798
8     Citrus Splash  Net revenue   6898.351137   4948.575408
9         Lime Zest   Net profit    572.580216    433.083366
10        Lime Zest  Gross Sales   7745.134879   6565.331703
11        Lime Zest  Net revenue   5180.733568   3415.288075
12        Munch Mix   Net profit    592.159358   1106.989939
13        Munch Mix  Gross Sales     7413.4152     11383.551
14        Munch Mix  Net revenue   4935.827522   8527.779662
15          Nut Bar   Net profit    1387.99806    2018.73041
16          Nut Bar  Gross Sales  17378.009663  22084.065484
17          Nut Bar  Net revenue  11334.352357  16039.124313
18    Seaside Bites   Net profit    644.894397    754.997389
19    Seaside Bites  Gross Sales    9842.88312  10100.670409
20    Seaside Bites  Net revenue   6518.282831   6568.407982
21            Tango   Net profit    488.431353    564.945472
22            Tango  Gross Sales   7076.677608   6982.710735
23            Tango  Net revenue   4693.861592   4408.849941
24          Truffle   Net profit   1351.121414   1443.911264
25          Truffle  Gross Sales  18842.383575  19013.656687
26          Truffle  Net revenue  12340.716632  12492.766571

In [50]:
df_melted = pd.melt(df_combined, id_vars=['Product', 'level_1'], 
                    var_name='Metric', value_name='Value')
df_melted = df_melted.rename(columns={'Metric': 'level_1', 'level_1': 'Metric'}) 
df_melted

            Product       Metric level_1         Value
0             Bliss   Net profit  Budget    1094.19478
1             Bliss  Gross Sales  Budget  14159.592353
2             Bliss  Net revenue  Budget   9393.940492
3   Cheddar poppers   Net profit  Budget     637.48749
4   Cheddar poppers  Gross Sales  Budget   5127.206589
5   Cheddar poppers  Net revenue  Budget    3634.98825
6     Citrus Splash   Net profit  Budget    779.321647
7     Citrus Splash  Gross Sales  Budget  10583.731818
8     Citrus Splash  Net revenue  Budget   6898.351137
9         Lime Zest   Net profit  Budget    572.580216
10        Lime Zest  Gross Sales  Budget   7745.134879
11        Lime Zest  Net revenue  Budget   5180.733568
12        Munch Mix   Net profit  Budget    592.159358
13        Munch Mix  Gross Sales  Budget     7413.4152
14        Munch Mix  Net revenue  Budget   4935.827522
15          Nut Bar   Net profit  Budget    1387.99806
16          Nut Bar  Gross Sales  Budget  17378.009663
17          Nut Bar  Net revenue  Budget  11334.352357
18    Seaside Bites   Net profit  Budget    644.894397
19    Seaside Bites  Gross Sales  Budget    9842.88312
20    Seaside Bites  Net revenue  Budget   6518.282831
21            Tango   Net profit  Budget    488.431353
22            Tango  Gross Sales  Budget   7076.677608
23            Tango  Net revenue  Budget   4693.861592
24          Truffle   Net profit  Budget   1351.121414
25          Truffle  Gross Sales  Budget  18842.383575
26          Truffle  Net revenue  Budget  12340.716632
27            Bliss   Net profit  Actual   1842.963122
28            Bliss  Gross Sales  Actual  18777.627511
29            Bliss  Net revenue  Actual  12843.300599
30  Cheddar poppers   Net profit  Actual    678.967445
31  Cheddar poppers  Gross Sales  Actual   7039.629619
32  Cheddar poppers  Net revenue  Actual   5258.485939
33    Citrus Splash   Net profit  Actual    732.240612
34    Citrus Splash  Gross Sales  Actual   8963.870798
35    Citrus Splash  Net revenue  Actual   4948.575408
36        Lime Zest   Net profit  Actual    433.083366
37        Lime Zest  Gross Sales  Actual   6565.331703
38        Lime Zest  Net revenue  Actual   3415.288075
39        Munch Mix   Net profit  Actual   1106.989939
40        Munch Mix  Gross Sales  Actual     11383.551
41        Munch Mix  Net revenue  Actual   8527.779662
42          Nut Bar   Net profit  Actual    2018.73041
43          Nut Bar  Gross Sales  Actual  22084.065484
44          Nut Bar  Net revenue  Actual  16039.124313
45    Seaside Bites   Net profit  Actual    754.997389
46    Seaside Bites  Gross Sales  Actual  10100.670409
47    Seaside Bites  Net revenue  Actual   6568.407982
48            Tango   Net profit  Actual    564.945472
49            Tango  Gross Sales  Actual   6982.710735
50            Tango  Net revenue  Actual   4408.849941
51          Truffle   Net profit  Actual   1443.911264
52          Truffle  Gross Sales  Actual  19013.656687
53          Truffle  Net revenue  Actual  12492.766571

In [51]:
chart_2023_budget_actual = alt.Chart(df_melted).mark_bar().encode(
    x=alt.X('Product:N', title=None),
    xOffset='level_1:N',
    y=alt.Y('Value:Q', title=None),
    color=alt.Color('level_1:N', legend=alt.Legend(title='Legend')),  
    column=alt.Column('Metric:N', title=None),
    order=alt.Order('level_1:N', sort='descending')  
)

chart_2023_budget_actual.properties(title=alt.Title('Sep 2023 Budget vs Actual by Product', anchor='middle'), width=300)

alt.Chart(...)

In [55]:
plot_budget = sep_2022_actual.reset_index()
plot_actual = sep_2023_actual.reset_index()
df_combined = pd.concat([plot_budget.set_index('Product').stack(), plot_actual.set_index('Product').stack()], axis=1, keys=['Actual (2022)', 'Actual (2023)'])


df_combined.index.names = ['Product', 'level_1']
df_combined = df_combined.reset_index()
df_combined

            Product      level_1 Actual (2022) Actual (2023)
0             Bliss   Net profit   1093.639293   1842.963122
1             Bliss  Gross Sales    12757.7718  18777.627511
2             Bliss  Net revenue   8321.952926  12843.300599
3             Bliss       Volume          2150          2800
4   Cheddar poppers   Net profit    838.080945    678.967445
5   Cheddar poppers  Gross Sales   7672.489375   7039.629619
6   Cheddar poppers  Net revenue   5891.697257   5258.485939
7   Cheddar poppers       Volume          1483          1190
8     Citrus Splash   Net profit    706.093102    732.240612
9     Citrus Splash  Gross Sales   8588.972925   8963.870798
10    Citrus Splash  Net revenue   5983.436945   4948.575408
11    Citrus Splash       Volume          1053          1034
12        Lime Zest   Net profit    422.991026    433.083366
13        Lime Zest  Gross Sales    6148.82625   6565.331703
14        Lime Zest  Net revenue   3352.894218   3415.288075
15        Lime Zest       Volume           975           952
16        Munch Mix   Net profit    796.780387   1106.989939
17        Munch Mix  Gross Sales      8738.045     11383.551
18        Munch Mix  Net revenue    5838.17165   8527.779662
19        Munch Mix       Volume          1478          1417
20          Nut Bar   Net profit   1393.978169    2018.73041
21          Nut Bar  Gross Sales   21667.31875  22084.065484
22          Nut Bar  Net revenue  12457.614673  16039.124313
23          Nut Bar       Volume          2654          2517
24    Seaside Bites   Net profit    712.005148    754.997389
25    Seaside Bites  Gross Sales    8996.64418  10100.670409
26    Seaside Bites  Net revenue    6143.05157   6568.407982
27    Seaside Bites       Volume          1376          1354
28            Tango   Net profit    432.712903    564.945472
29            Tango  Gross Sales     4956.2625   6982.710735
30            Tango  Net revenue   3715.686345   4408.849941
31            Tango       Volume           847          1018
32          Truffle   Net profit   1174.657593   1443.911264
33          Truffle  Gross Sales   14837.43375  19013.656687
34          Truffle  Net revenue   8724.692428  12492.766571
35          Truffle       Volume          2599          2896

In [56]:
df_melted = pd.melt(df_combined, id_vars=['Product', 'level_1'], 
                    var_name='Metric', value_name='Value')
df_melted = df_melted.rename(columns={'Metric': 'level_1', 'level_1': 'Metric'}) 
df_melted

            Product       Metric        level_1         Value
0             Bliss   Net profit  Actual (2022)   1093.639293
1             Bliss  Gross Sales  Actual (2022)    12757.7718
2             Bliss  Net revenue  Actual (2022)   8321.952926
3             Bliss       Volume  Actual (2022)          2150
4   Cheddar poppers   Net profit  Actual (2022)    838.080945
..              ...          ...            ...           ...
67            Tango       Volume  Actual (2023)          1018
68          Truffle   Net profit  Actual (2023)   1443.911264
69          Truffle  Gross Sales  Actual (2023)  19013.656687
70          Truffle  Net revenue  Actual (2023)  12492.766571
71          Truffle       Volume  Actual (2023)          2896

[72 rows x 4 columns]

In [57]:
chart_2022_actual_2023_actual = alt.Chart(df_melted).mark_bar().encode(
    x=alt.X('Product:N', title=None),
    xOffset='level_1:N',
    y=alt.Y('Value:Q', title=None),
    color=alt.Color('level_1:N', legend=alt.Legend(title='Legend')),  
    column=alt.Column('Metric:N', title=None),
    order=alt.Order('level_1:N', sort='descending')  
)

chart_2022_actual_2023_actual.properties(title=alt.Title('Sep 2022 Actual vs Sep 2023 Actual by Product', anchor='middle'), width=300)

alt.Chart(...)